* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
background-color: #1f2937;
}

.center-content-container {
  max-width: 1200px;
  margin: 0 auto;
  
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.nav-list {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
}

a {
  color: #e5e7eb;
  padding: 0.50rem .50rem;
}

a:hover {
  background-color: #293545;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding:3rem 1rem;
}

.intro {
  min-width: 300px;
  max-width: 40%;
  height: auto;
}

.section-title {
  font-size: 48px;
  color: #F9FAF8;
  margin-bottom: 12px;
}

.hero-text {
  color: #e5e7eb;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  min-width: 300px;
  max-height:400px;
  overflow: hidden;
  border-radius: 16px;
}

.information {
  background-color: #fff;
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.info-title {
  font-size: 32px;
  margin-bottom: 1rem;
}

.info-content {
  display: flex;
  justify-content:
  center;
  flex-wrap: wrap;
  gap: 100px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  min-width: min-content;
}

.btn-container {
  margin: auto;
}

.post-button {
  background-color: #007AFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid #000000;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.post-button:hover {
  background-color: #0056b3;
}

.post-button:active {
  background-color: #004085;
}

.breaking-news-container {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breaking-red {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.75rem;
  background-color: red;
  border: 4px solid #000000;
  border-radius: 8px 8px 0 8px;
  width: min-content;
}

.news-black {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.65rem;
  background-color: #514c4c;
  color: white;
  align-self: end;
  border: 4px solid #000000;
  margin-top: -4px;
  border-radius: 0 8px 8px 8px;
}

.scoreboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #1e1e21;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-size: Arial, sans-serif;
  margin: 50px auto;
  margin-bottom: auto;
}

.team-section {
  text-align: center;
  padding: 0 20px;
  flex-grow: 1;
}

.team-name {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-bottom: 5px;
}

.score {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.divider {
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    opacity: 0.5;
}

.quick-note {
  background-color: #e5e7eb;
  padding: 3rem;
  width: 100%;
}

.note-container {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  max-width: 1200px;
  margin: 0 auto;
}

.signature {
  align-self: end;
  font-weight: 700;
}

.call-to-action {
  background-color: white;
  padding: 5rem;
}

.action-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #3882f6;
  padding: 2rem;
  border-radius: 5px;
  color: #fff;
}



.action-btn {
  background-color: #3882f6;
  margin-left: 24px;
  padding: 0.50rem 1rem;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: .60rem;
}

.action-btn:hover {
  background-color: #275fb9;
}

footer {
  padding: 1rem;
}

.footer-text {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}